/* ProductData start */
.Productbtn {
  background-color: rgb(17, 107, 107);
  box-shadow: 3px -3px 3px rgb(11, 67, 67);
}
.form-control {
  box-shadow: none !important;
}
.productTab {
  background-color: var(--green) !important;
  border: 3px solid var(--green) !important;
  transition: all 0.4s ease-in-out;
}
.productTab:hover {
  background-color: rgba(108, 117, 125, 1) !important;
  border: 3px solid black !important;
}
/* ProductData end */