/* ProductData start */
body {
  width: 100%;
  height: auto;
  background-image: url("https://images.unsplash.com/photo-1454117096348-e4abbeba002c?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGdyZXklMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100vh;
}
@media screen and (max-width: 768px) {
  body {
    background-size: cover !important;
  }
}
.Productbtn {
  background-color: rgb(17, 107, 107);
  box-shadow: 3px -3px 3px rgb(11, 67, 67);
}
.form-control {
  box-shadow: none !important;
}
.productTab {
  background-color: var(--green) !important;
  border: 3px solid var(--green) !important;
  transition: all 0.4s ease-in-out;
}
.productTab:hover {
  background-color: rgba(108, 117, 125, 1) !important;
  border: 3px solid black !important;
}
/* ProductData end */